@font-face {
    font-family: 'Agrandir';
    src: url('./Agrandir-TextBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Apply it to body or globally */
  /* body {
    font-family: 'Agrandir', 'Open Sans', 'Helvetica Neue', sans-serif;
  } */

  