
.btn-primary {
    background-color: #00754A !important;
    color: white !important;
    border: none !important;
    
}

.btn-primary:hover {
    background-color: #005f3d !important;
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 117, 74, 0.5);
}